body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
}

.calc-container {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.display-number {
  min-height: 30px;
  background-color: rgb(146, 155, 184);
  padding: 10px;
}

.float-right {
  float: right;
}

.white {
  color: white;
}

.flex {
  display: flex;
}

.flex1 {
  flex: 1;
}

.numbers-container {
  display: flex;
}

.number-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 67px;
  background-color: #eee;
  border: 0.1px solid rgb(125, 125, 125);
}

.orange {
  background-color: orange;
}

.flex-2 {
  flex: 2;
}
